.main-navbar{
    display:flex;
    flex-direction:column;
    position: sticky;
    z-index: 999;
    top: 0px;

    
}

.navbar-up{
    background-color: #FFCC00;

    
}

.navbar-down{
    height:100px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items:center;
    background-color: #FFCC00;
    padding-left: 10%;
    padding-right: 10%;

    
    
}

.navbar-logo{
    display:flex;
    flex-direction: row;
    cursor: pointer;
}

.navbar-logo img{
    height:45px;
  
}



.navbar-cart{
    background-color: white;
    
}

