.content-bukubekas{
    display:flex;
    flex-direction:column;
    width: 100%;
    justify-content:space-between;
    max-height: 500px;
    overflow-x: auto;
  

    padding-bottom: 5%;
    

}

.content-bukubekas-title{
    padding-left: 2%;
    p{
        font-size: 1.5em;
        font-weight: 700;
        font-family: 'Kanit', sans-serif;
    }
}

.content-bukubekas-content{
    display:flex;
    flex-direction: row;
    padding-left: 5%;
    
}
