.content-bukubekas{
    display:flex;
    flex-direction:column;
    width: 90%;
    
    max-height: 500px;

    padding-bottom: 5%;  
}

.content-bukubekas-title{
    padding-left: 2%;
    
    p{
        font-size: 1.5em;
        font-weight: 700;
        font-family: 'Kanit', sans-serif;
    }
 
}

.content-bukubekas-content{
    overflow-x: auto;

    display:flex;
    flex-direction: row;
  
    padding-left: 10%;
    width:100%;
}
