.content-main{
    display:flex;
    flex-direction:column;
    margin-right: 20px;
    
    background-color:white;
    border:2px solid rgb(180, 179, 179);
    height:250px;
    width:500px;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
        padding-top: 2px;
        
    }

    .img-content{
        border-radius: 10px;
        height:50%;
        
    }
    .content-center{
        margin-top: 0px;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items:center;

        img{
            height: 24px;
            width:24px;
        }

        p{
            padding-left: 4px;
        }


        
    }

    .title-content{
        
        margin-top: 0 px;
        font-size: 0.8em;
    }
    .price-content{
        font-size: 0.8em;
        margin-top: -15px;
        font-weight: 600;
    }

    .content-footer{
        display:flex;
        flex-direction:row;
        margin-top:-5px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 5px;
        justify-content:space-between;
        p{
            font-weight:300px;
            color:rgb(156, 156, 156);
        }
    }
}


