.main-list-login{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-top: 5%;
    width:70%;
   

}

.login-way{
    border: 2px solid rgb(255, 255, 255);
    img{
        height:36px;
        width: 56px;
    }


}