.banner-main{
    display:flex;
    flex-direction: row;
    background-color: #ddd;
    height:220px;

    margin-right: 5%;
    margin-left: 5%;
    justify-content: center;
    border-radius: 10px;
}



.banner-left img{
    height: 100%;
    width:100%;
    border-radius: 10px;
}









